.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.loginBtn:hover {
  cursor: pointer;
}
.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}
.login-input {
  margin: 0.5rem auto 1rem;
  border-style: inherit;
  border: 1px solid;
  width: 80%;
  height: 50px;
  border-radius: 0.7rem;
  padding: 1rem;
  font-size: 0.86rem;
}
.scalelod {
  margin: 0 auto;
}
.login1Wrapper {
  width: 30%;
  height: 50%;
  min-width: 400px;
  min-height: 500px;
  background-color: rgb(23, 25, 27);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: rgba(244, 10, 10, 0.764) 0px 5px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.newuser {
  margin: 0 auto;
}
.signuptxt {
  color: rgb(245, 123, 237);
}
.log-h1 {
  margin: 0 auto 6rem;
}
.loginBtn {
  width: 50%;
  height: 50px;
  margin: 1rem auto;
  background-color: rgb(48, 222, 181);
}

.label-login {
  font-size: 15px;
  margin-bottom: 5px;
}

.bgcover {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.779) 5%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("../../../public/loginBg.jpg");
  background-size: cover;
  background-position: top;
  width: 100vw;
  height: 100vh;
  opacity: 100%;
  position: absolute;
  z-index: -1;
}
@media only screen and (max-width: 768px) {
  .login1Wrapper {
    width: 60%;
    min-width: 300px;
  }
}
@media only screen and (max-width: 550px) {
  .login1Wrapper {
    height: 40%;
  }
  .login-input {
    width: 70%;
    height: 40px;
    font-size: 0.7rem;
    margin: 1rem auto 0.5rem;
  }
  .loginBtn {
    height: 40px;
    width: 40%;
  }
}
